@import "tailwindcss";
@import "./variables.css";
@import "./reset.css";
@import "./typography.css";
@import "./utilities.css";

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 999px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Selection */

::selection {
    background: var(--color-primary);
    color: white;
}


/* Focus */

:focus-visible {
    outline: 3px solid var(--color-secondary);
    outline-offset: 3px;
}