.container {
    width: min(1280px, 100% - 2rem);
    margin-inline: auto;
}

.section {
    padding: 5rem 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    box-shadow: var(--shadow-md);
}

.transition {
    transition: all var(--transition-normal);
}